[2017-08-09 07:13] novioleo opened #1 "CTC_loss not work~"
Hey,thks for your brilliant work~
I tried install warp_ctc and bind it with tensorflow,there are so many problems.Thus,i tried your ctc_loss in code
---
        loss_ctc = tf.nn.ctc_loss(labels=sparse_code_target,
                                  inputs=predictions_dict['prob'],
                                  sequence_length=tf.cast(features['images'].shape[0], tf.int32),

[2017-08-09 10:09] novioleo commented on #1
oh oops~
i made a stupid mistake~
----
the code should be:

        loss_ctc = tf.nn.ctc_loss(labels=sparse_code_target,
                                  inputs=predictions_dict['prob'],
                                  sequence_length=tf.cast(seq_lengths_labels,tf.int32),
                                  preprocess_collapse_repeated=False,
                                  ctc_merge_repeated=T

[2017-08-09 11:15] novioleo commented on #1
......
i fixed it again.and i'll close this issue~

`
seq_lengths_labels = tf.segment_max(sparse_code_target.indices[:, 1], sparse_code_target.indices[:, 0])*2 + 1
loss_ctc = tf.nn.ctc_loss(labels=sparse_code_target,
                                  inputs=predictions_dict['prob'],
                                  sequence_length=tf.cast(seq_lengths_labels,tf.int32),

[2017-08-09 11:17] #1 closed, assigned to nobody

[2017-08-10 13:56] solivr commented on #1
Hi Tao,
Did you have trouble installing Baidu's warp_ctc or binding it ? From what I remember, the binding was quite straightforward, but installing Baidu's CTC was more troublesome.
I didn't use the builtin TF CTC loss because I found it to be numerically instable and couldn't converge using it. Did you manage to train your network with it ?

[2017-08-11 09:10] novioleo commented on #1
@solivr I tried so many times to binding warp_ctc to tensorflow,however,it comes out so many problems.
i gave it up.so i tried the built-in ctc.as you said,it's so awful.

i use the built-in ctc to train the MNIST serial,it achieve the 94% acc.today i'm try to train the much more complex training,and a big wave problem is coming.

Besides,how could you binding warp-ctc to your tensorflow,can u giv

[2017-10-13 07:29] solivr commented on #1
@novioleo I refactored a lot of functions and warp_ctc from Baidu is not needed anymore! It just relies on pure nn.ctc_loss now and works fine for now

[2017-10-13 10:29] novioleo commented on #1
@solivr thks for your reply.i had tried yet.

[2017-10-16 03:44] WenmuZhou opened #2 "error in tf1.3"
**when I run this code in the ubuntu16.04 with tensorflow 1.3, I meet the flow error, the dataset I used is mnist.**
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/client/session.py", line 1327, in _do_call
    return fn(*args)
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/client/session.py", line 1306, in _run_fn
    status,

[2017-10-16 07:22] solivr commented on #2
This error means the characters in your dataset are not in the Alphabet you use for training. In `train.py` change the `Params` initialisation from `alphabet=Alphabet.LETTERS_EXTENDED` to `alphabet=Alphabet.DIGITS_ONLY`, since you are trying to predict digits only.

[2017-10-16 08:02] WenmuZhou commented on #2
**thank you, I have do as what you said, however, there are a other error meet:**

2017-10-16 15:58:02.246092: W tensorflow/core/framework/op_kernel.cc:1192] Invalid argument: Assign requires shapes of both tensors to match. lhs shape= [512,11] rhs shape= [512,60]
         [[Node: save/Assign_9 = Assign[T=DT_FLOAT, _class=["loc:@deep_bidirectional_lstm/fully_connected/weights"], use_locking=true,

[2017-10-16 08:32] solivr commented on #2
I'll have a look at it, I may have an idea where it comes from. In the meantime, could you please paste the content of the json file (should be in `your_exported_dir/model_params.json`) ?

[2017-10-16 08:37] solivr commented on #2
Try first to remove the old `export_dir`. It looks like tensorflow tried to reload the previous model, and you got this error since the new Alphabet is shorter than the previous one (hence the shape error).

[2017-10-16 09:22] WenmuZhou commented on #2
this is the model_params:

{"csv_delimiter": " ",
    "output_model_dir": "./models",
    "learning_rate": 0.001,
    "eval_batch_size": 128,
    "_blank_label_symbol": "$",
    "alphabet": "0123456789$",
    "input_shape": [32, 100],
    "csv_files_train": "./data/train.csv",
    "_alphabet_codes": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "alphabet_decoding": "0123456789$",
    "blank_label_code":

[2017-10-16 09:26] solivr commented on #2
The Alphabet looks fine, so try to remove `./models` (or the files related to this experiment within `./models`)  and run the script again.

[2017-10-16 10:28] WenmuZhou commented on #2
the script is running correct， but ,there are not some information about accuracy and loss shown

[2017-10-16 13:09] solivr commented on #2
You should be able to see it in tensorboard, also with the intermediate predictions in the TEXT tab.

[2017-10-16 16:00] solivr commented on #2
Pull the last update and you'll see the loss, CER and accuracy  (https://github.com/solivr/tf-crnn/commit/ca60e9f790f12cf04df08ebcf23856fd3d68bf71).

[2017-10-17 15:53] solivr commented on #2
I'm closing this issue for now, feel free to reopen it if you still encounter problems.

[2017-10-17 15:53] #2 closed, assigned to nobody

[2017-10-21 09:36] WenmuZhou opened #3 "How to apply the code to Chinese"
if I want to apply the code to Chinese, how to modify the python  script?

[2017-10-23 06:00] solivr commented on #3
You need to change the alphabet. Create your own Alphabet in `config.Alphabet` (don't forget to add blank symbol as last character) and then initialise `Params` in `train.py` with your new Alphabet

[2017-10-23 09:10] WenmuZhou commented on #3
I will try,thank you

[2017-10-23 09:10] #3 closed, assigned to nobody

[2017-10-23 09:14] WenmuZhou opened #4 "Is there a script to test the model with one images"
now, I have trained a model with mnist dataset, how can I test the model?, or Is there a script ?

[2017-10-26 08:42] WenmuZhou commented on #4
I have write a file to predict with ten image, but the output is None,

![image](https://user-images.githubusercontent.com/12406017/32043302-f590622a-ba6c-11e7-87b9-7ff66415e10b.png)

[code]

Is anywhere wrong?

[2017-10-27 14:40] solivr commented on #4
I was not able to reproduce your error, but I added a loader class and functions in `src/loader`. You can use it this way :
[code]

[2017-10-27 15:25] solivr commented on #4
I got it, you can also add the argument `predict_keys='words'` to `estimator.predict` like this :
[code]

If you want to see `score` or `probs`, just change `predict_keys`.

[2017-10-28 08:13] WenmuZhou commented on #4
the code is work fine, thank you

[2017-10-31 01:32] pribadihcr opened #5 "pretrained model"
Hi @solivr,

Is there pretrained model to test it?
Thanks

[2017-10-31 07:32] solivr commented on #5
Hi @pribadihcr,
No, there is no pretrained model for now.
If you refer to the original paper, you can download the dataset used and train the model on your own.
Or you can generate artificial numbers with MNIST digit dataset using `hlp/numbers_mnist_generator.py`.

[2017-10-31 07:32] #5 closed, assigned to nobody

[2017-11-02 05:56] ghost opened #6 "csv_delimiter bug"
in file train.py
`        parameters = Params(train_batch_size=128,
                            eval_batch_size=128,
                            learning_rate=1e-3,  # 1e-3 recommended
                            learning_decay_rate=0.95,
                            learning_decay_steps=5000,
                            evaluate_every_epoch=5,
                            save_interval=5e3,

[2017-11-02 07:41] solivr commented on #6
`csv_delimiter` is a parameter, so you can assign it to whatever you want. Just be consistant with your csv file. Besides, if your are training with sentences (where you have ' ' character) you may have trouble reading correctly your csv with `csv_delimiter=' '`, this is why I would recommend `;` for instance.

[2017-11-02 07:41] #6 closed, assigned to nobody

[2017-11-08 08:21] WenmuZhou opened #7 "why calculate the seq_len_inputs by use img_width / 2*2"
![image](https://user-images.githubusercontent.com/12406017/32538260-58b02b46-c4a0-11e7-9950-1bdbaa445888.png)

the `seq_len_inputs` is the length of string in the input image or the pixels of single  character

[2017-11-10 06:33] WenmuZhou opened #8 "error when I run the code with Symbols"
the Symbols is
[code]
when I run the code I meet the error
[code]

and the image i used is like this
![image](https://user-images.githubusercontent.com/12406017/32645882-72287936-c624-11e7-8048-0fc1e0823d60.png)

[2017-11-10 09:03] solivr commented on #7
`seq_len_input` is the length of input (image sequence) of the `tf.nn.ctc_loss`, i.e the width of the image after going through the model (`original_width/2*2 - 1`). To understand it better, have a look at your Tensorboard graph.

[2017-11-10 09:13] solivr commented on #8
`All labels must be nonnegative integers, batch: 0 labels: 12,4,14,0,-1,-1,10`means that your lookup table isn't able to find a proper symbol to decode (the `-1`). The problem comes from [this line](https://github.com/solivr/tf-crnn/blob/master/src/model.py#L255), since the current implementation of `string_split` doesn't take `utf8` format into account. In the Symbols list, the symbol `°` has `b'

[2017-11-10 12:25] WenmuZhou commented on #8
when I use Chinese characters to train the model, the error is `All labels must be nonnegative integers, batch: 0 labels: -1,-1,-1,-1,-1,-1,-1`, so the reason is also because of this function, so ,how can I fixed this problem  to train with  Chinese characters

[2017-11-10 12:33] WenmuZhou commented on #7
so,if the image contains mush non-text area , the `seq_len_input ` is longer than the true character. Will this lead to problems?, in other words, when I prepare my datasets, What should I pay attention to? Should the  picture be all text area and haven't non-text area? .can you peovide a email adress to communicate convenient

[2017-11-10 14:22] WenmuZhou commented on #8
I have tried to add a `$` after each character in labels except for last character,eg. `($=$/$-` , and set the `string_split` line like this
[code]
but there are some error, It likes the function `string_split` do not work
[code]

[2017-11-12 02:14] WenmuZhou commented on #8
I have solved this problem.
When making datasets, use the Chinese characters in the Alphabet index to represent the label, the index of each Chinese character is separated by a special symbol, for example, '$'.
eg.
![image](https://user-images.githubusercontent.com/12406017/32695282-14719b96-c792-11e7-8dc4-b344d3aa01ac.png)

After that , I change the code
[code]
to
[code]
finally, the code is work

[2017-11-12 02:15] #8 closed, assigned to nobody

[2017-11-13 09:23] WenmuZhou commented on #4
when I get `score` from net
[code]

the result is
![image](https://user-images.githubusercontent.com/12406017/32717615-415def20-c895-11e7-993d-2aa7d695ec33.png)

the score is greater than 1, however, in neural networks, the confidence should be less than 1, or the `score` isn't confidence？

[2017-11-14 15:23] solivr commented on #4
If you have a look at the [line](https://github.com/solivr/tf-crnn/blob/master/src/model.py#L320) computing the score, you'll see that it's a sort of ratio between the probability of the first and second best paths of the beam decoder (since `tf.nn.ctc_beam_search_decoder` outputs log probabilities). So yes, in this case, the score can be greater than 1.

[2017-11-14 15:33] solivr commented on #7
Even without 'non-text area', `seq_len_input` will usually be longer than the sequence of characters (one string-character is composed of several columns of pixels). I don't think this can cause big issues, but just in case, if you can, try to crop the text as close as possible.
The only case that I think of where it may be annoying, is if you have examples where the last character of the sequence

[2017-11-15 16:15] cipri-tom opened #9 "Why use symmetric padding ?"
Hi,

I noticed that in the case of input images of different sizes, the padding is with `SYMMETRIC` values and only at the right side of the image ([code](https://github.com/solivr/tf-crnn/blob/9d12de194c8c1a935e2c63c84270dd11a62fb410/src/data_handler.py#L151)). Why not use the `CONSTANT` option, with `constant_values = 255` (or `1` if the image is normalised) ?
(edit: or `constant_values = avg_co

[2017-11-16 11:33] solivr commented on #9
Hi,

The `SYMMETRIC` padding is to avoid screwing up the statistics of the batch norm. I believe adding statically similar data when padding will add less 'side effects' than padding with `0`, `255` or `1`. However I hadn't confirmed it experimentally, so it may have no influence at all and you may be able to use `CONSTANT` padding.

Concerning the `target_width`, I want the the data to have the s

[2017-11-16 11:33] #4 closed, assigned to nobody

[2017-11-16 15:44] cipri-tom commented on #9
Ah, I didn't realise that the `ctc_loss` only takes the first `sequence_length` features into account. Then yes, your heuristics are very well grounded.

Thank you for the explanation !

[2017-11-16 15:44] #9 closed, assigned to nobody

[2017-11-17 13:48] #7 closed, assigned to nobody

[2017-11-19 06:21] WenmuZhou opened #10 "gpu memory"
when I set the code like this
[code]
or

[code]

the tensorflow will occupied all gpu memory
![image](https://user-images.githubusercontent.com/12406017/32987986-f9da74a8-cd34-11e7-88ee-c682847d3730.png)

[2017-11-19 12:46] WenmuZhou opened #11 "train and print accuracy error"
I use a small dataset(train:1000,test:1000) to test the code, and I meet a error when train the mode at the last batch.the batchsize of train and evaluation is 128
[code]
and there is no any accuracy information output
[code]

![image](https://user-images.githubusercontent.com/12406017/32990908-ae72430a-cd6c-11e7-8313-38e4441974bd.png)

[2017-11-21 07:40] WenmuZhou commented on #10
I have solved this problem by
[code]

[2017-11-21 07:40] #10 closed, assigned to nobody

[2017-11-24 02:49] ghost opened #12 "train Synth90K error"
![image](https://user-images.githubusercontent.com/18569835/33193619-f2b1a092-d104-11e7-93fc-09da2105f702.png)
Error Information:tensorflow.python.framework.errors_impl.InvalidArgumentError: Less leaves in the beam search than requested.

I think that the problem is CTC beam search error, however, I don't know how to solve.

[2017-11-27 03:40] WenmuZhou opened #13 "Very slow when running estimator.evaluate, gpu usage is always zero"
The training model took 27 hours (one million data) and one model required 4 hours (100,000 data) when testing the model

[2017-11-27 12:24] WenmuZhou opened #14 "using TFRecords"
I'm trying to use TFRecord as the data input for the program, but I have encountered some problems。
the code used to convert img to TFRecord. I have test this code and work well
[code]
the code used as imput_fn
[code]
when test this code the output is
[code]

however when I use the input_fn as the input of estimator.evaluate, I meet some error and I don't know where is error.

the code is
[code]

[2017-11-28 12:42] zhLawliet opened #15 "hi、is python2.7 or python 3？"

[2017-11-29 02:07] WenmuZhou commented on #15
I think all python version is support, I use python 3.6

[2017-11-29 02:11] zhLawliet commented on #15
ok,thanks,can you give me the model that you have trained about the mnist, there are some errors about it, thank you very much, my emai: zhlawliet@qq.com.

[2017-11-29 02:12] WenmuZhou commented on #15
sorry，I have delete the model about one month ago

[2017-11-29 02:14] zhLawliet commented on #15
ok, than you

[2017-11-29 02:14] #15 closed, assigned to nobody

[2017-11-29 02:18] WenmuZhou commented on #14
I have slove it

[2017-11-29 02:18] #14 closed, assigned to nobody

[2017-11-29 02:19] #11 closed, assigned to nobody

[2017-11-29 14:14] zhLawliet opened #16 "there are errors about the function definition：import_params_from_json"
def import_params_from_json(model_directory: str=None, json_filename: str=None) -> dict:
i must modify it:
def import_params_from_json(model_directory, json_filename):
how can i  define the function like the: def import_params_from_json(model_directory: str=None, json_filename: str=None) -> dict:

[2017-12-02 02:36] WenmuZhou opened #17 "The speed between CPU and GPU"
when I predict image with the output model, I find CPU is faster than GPU
the code is
[code]
and gpu cost 3.9， cpu cost 0.9s

[2017-12-02 02:37] WenmuZhou commented on #13
I find it is a bug with tensorflow 1.4 ,when I use tensorflow 1.3, code run faster

[2017-12-02 02:37] #13 closed, assigned to nobody

[2017-12-02 10:37] #16 closed, assigned to nobody

[2017-12-02 14:56] WenmuZhou commented on #17
I have test the tensorflow-gpu 1.4, tensorflow-gpu 1.3， tensorflow 1.4 and tensorflow 1.4
the code is
[code]
tensorflow-gpu 1.4 log
[code]
tensorflow-gpu 1.3 log
[code]
tensorflow 1.4 log
[code]
tensorflow 1.3 log
[code]

[2017-12-04 18:07] cipri-tom commented on #17
Wow, very different results among different versions !

Do you have a big image ? I imagine it could be that the time to transfer it to the GPU is significant, though this is highly improbable.

[2017-12-04 18:10] cipri-tom commented on #12
I had an error in CTC loss and it was due to some wrong data, where the image was much much shorter than the labels e.g. the images was "he" but the labels were "he ate his sandwich in the park".

Check out for this kind of inconsistencies in the data, also the other way around (long image with too short labels).

[2017-12-04 18:13] cipri-tom commented on #14
you could also tell us _how_ you solved it 😛

also, do you see any improvement from using tfrecord format ? is it running faster ?

[2017-12-05 06:52] WenmuZhou commented on #17
I will run 100-1000 time as take a average

[2017-12-06 16:11] solivr commented on #12
Like @cipri-tom, I also saw this type of errors when images where shorter than labels.
You should first check that all your images are converted to at least the same number of frames than there are characters in the corresponding text labels.

[2017-12-06 16:25] solivr commented on #17
I have a prediction in 0.9s with GPU and 0.16 with CPU but I didn't try batch prediction. Do you observe the same behaviour when predicting with image batches (instead of single images) ? I guess that's where GPU processing will make the difference.

[2017-12-07 01:49] WenmuZhou commented on #17
see this https://github.com/tensorflow/tensorflow/issues/15057#issuecomment-349701716

[2017-12-08 08:31] cipri-tom commented on #17
@solivr in order to do batch prediction, we'd have to change the `serving_input_fn` ([code](https://github.com/solivr/tf-crnn/blob/9d12de194c8c1a935e2c63c84270dd11a62fb410/src/data_handler.py#L226)) to have shape **N** x H x W x C, right ? So we can't batch predict for models which were exported with the current `serving_input_fn`

[2017-12-08 09:33] solivr commented on #17
Yes indeed!

[2017-12-20 08:40] #12 closed, assigned to nobody

[2017-12-28 05:09] meatif opened #18 "CSV files"
I input the csv files according to your instruction but that is not working and generate following error
tensorflow.python.framework.errors_impl.InvalidArgumentError: Expect 2 fields but have 0 in record 0
could you please share with me csv files for training

[2017-12-28 09:00] solivr commented on #18
Your CSV file should look like this :
[code]
If you have the latest version of the code, the CSV delimiter should be `;`.

[2017-12-28 17:50] meatif commented on #18
Than you for the reply and the kind help previous problem has been resolved
I'm working on urdu text recognition
it is working with English text but giving following error with urdu text during training
"UnicodeDecodeError: 'utf-8' codec can't decode byte 0xeb in position 14: invalid continuation byte"

[2017-12-30 08:30] codecolony opened #19 "Error while serving"
Hi,

Thanks for this wonderful repository.
I trained the model on a custom dataset. I now have checkpoints stored. I get the following error while trying to load the model. Any idea what I might be doing wrong here?

`OSError: Cannot parse file b'./out_dir/saved_model.pbtxt': 1:1 : Message type "tensorflow.SavedModel" has no field named "node"..`

I can confirm that the files exist in the director

[2017-12-31 11:25] meatif opened #20 "Error at the end of traning"
I have provided .csv file according to instructions at end of 100% training i received following errror
tensorflow.python.framework.errors_impl.NotFoundError: Failed to create a directory: ./export_model_dir\export\temp-b'1514633130'; No such file or directory

[2017-12-31 11:27] meatif commented on #17
I have provided .csv file according to instructions. At the end of 100% training i received following error
tensorflow.python.framework.errors_impl.NotFoundError: Failed to create a directory: ./export_model_dir\export\temp-b'1514633130'; No such file or directory

Can anybody help me in this regard

[2018-01-01 07:02] #20 closed, assigned to nobody

[2018-01-01 07:03] meatif commented on #20
Problem has been resolved by creating export older in export_model_dir

[2018-01-03 07:20] codecolony commented on #19
The above error got resolved but I get empty tensors as output after prediction.
Any idea?

[code]
Output:
[code]

[2018-01-03 17:26] codecolony commented on #19
Latest error I get is this.

`TypeError: Failed to convert object of type <class 'list'> to Tensor. Contents: [None, -1, 512]. Consider casting elements to a supported type.`

[2018-01-03 18:14] #19 closed, assigned to nobody

[2018-01-09 14:04] solivr commented on #18
This has the same origin as this [issue](https://github.com/solivr/tf-crnn/issues/8), you can try to adapt the proposed solution.

[2018-01-11 11:55] meaatef commented on #8
thank you for the reply this resolved the previous error by making dataset according  WenmuZhou's method
But now i am facing following error
Saw a non-null label (index >= num_classes - 1) following a null label, batch: 0 num_classes: 80 labels: 40,39,42,32,70

[2018-01-15 06:54] codecolony commented on #8
Hi @meaatef , @WenmuZhou , @solivr ,

I need help on this issue as well.
My symbol list includes
`Symbols = " .,:;-_=()[]{}/%<>"`

I get the same error. Do I need to use escaping characters in the labels file?
A sample entry of this in the file looks like the following.

[code]

I tried @WenmuZhou's fix but still doesn't work for me. Any insights on this one?

Thanks,

[2018-01-15 07:55] meatif commented on #8
@codecolony Map your each label to a number as WenmuZhou did . it worked for me now i'm facing only problem that loss is not converging

[2018-01-18 16:32] cipri-tom commented on #8
@codecolony you don't need escaping, but you need that your labels contain only letters from the alphabet, and that each letter from the alphabet can be mapped to a single number. WenmuZhou's trick is quite neat for that because it handles multi-byte characters.

Alternatively, you can use a different encoding.

Finally, I am using the following code to check the input labels:

[code]

[2018-01-30 10:44] J-Escher commented on #12
I think I'm having a similar kind of error - the sequence lengths of the output are longer than the input time when training on the synth dataset. Are there some mislabelled images in the synth 90k dataset and should there be checks during runtime to catch this? @solivr Can you clarify what you mean by checking that images are converted to the same number of frames as characters in corresponding t

[2018-01-30 10:53] J-Escher opened #21 "Longer outputs than inputs when training on word datasets"
When training on word-recognition datasets, the sequence outputs are often longer than the image inputs, and Tensorflow will say something like `Not enough time for target transition sequence (required: x, available: y)`. I suspect this is a problem with the dataset itself (i.e. the target sequence is longer than the CTC input sequence collected from the image for some reason - maybe some items in

[2018-01-30 17:29] J-Escher opened #22 "Error in generating sequential MNIST digits"
I noticed an error in generation of MNIST digit sequences - if the first element of the label sequence is a zero, then the label does not take this into account, but the zero is included in the digit string.

e.g. if the label sequence is 02139, the digits '02139' will be saved as a image sequence but the label will be 2139, this also works for multiple zeros, e.g. 002139 is labelled as 2139 as we

[2018-01-31 07:18] jzhongaa opened #23 "prediction with estimator"
I encountered some problems when predicting using estimator with following code:
`
import argparse
import os, time
import csv
import numpy as np
try:
    import better_exceptions
except ImportError:
    pass
from tqdm import trange
import tensorflow as tf
from src.model import crnn_fn
from src.data_handler import data_loader
from src.data_handler import preprocess_image_for_prediction

from src.co

[2018-01-31 10:13] solivr commented on #22
Do you experience this error with the file `numbers_mnist_generator.py`? I couldn't reproduce the error... Could you give an example of code ?
If you're experiencing this when calling `data_handler.py` (which would then probably be caused by [this](https://github.com/solivr/tf-crnn/blob/master/src/data_handler.py#L25) line), I need to check it.

[2018-02-01 06:19] ghost commented on #23
I fixed the issue.
Modify model.py
predictions_dict = {'prob': logprob,
                        'raw_predictions': raw_pred,
                        }
Rename the variable predictions_dict to other and define a new variable predictions_dict.
Like the following.
predictions_dict ={}
training_dict = {'prob': logprob,
                        'raw_predictions': raw_pred,
                        }

[2018-02-01 08:21] solivr commented on #12
What I mean is that if you have the word `example`, this word has 7 characters, so the output of the convolutional layers should be a feature map with at least 7 columns (corresponding to 7 frames), and so your original image should have at width greater of equal to 7*4=28.

[2018-02-01 08:51] #18 closed, assigned to nobody

[2018-02-01 08:52] #17 closed, assigned to nobody

[2018-02-01 10:36] J-Escher commented on #22
I can't reproduce it in a new aws instance, although iI upgraded `scipy.misc.imsave` to `imageio.imwrite`, so I'll close this for now...

[2018-02-01 10:36] #22 closed, assigned to nobody

[2018-02-01 10:39] J-Escher commented on #12
Do you think there is a straightforward way to catch and mask examples that violate this during runtime, so that the model is robust against mislabelled images? When training on the synth 90k images i suspect there are some mislabelled images, as the `tf.nn.ctc_loss` complains `sequence length > time`

@solivr is there a way to retrieve the length of the ground truth sequences? I would like to mas

[2018-02-01 11:55] ghost commented on #12
I find that we can comment the codes of validation and keep the training code leaving. And  the training will contiue. And we can validate one by one to avoid the error length images.

[2018-02-05 03:14] jzhongaa commented on #23
I found that the infinite loop issue will only happen in windows environment. When I test in linux server, the infinite loop generator issue will disappear.

[2018-02-05 03:14] #23 closed, assigned to nobody

[2018-02-08 06:38] what2help commented on #23
Hello,

I'm getting the same error but I didn't get how you solved by changing model.py file.
I've replaced `predictions_dict = {'prob': logprob,
'raw_predictions': raw_pred,
}`
with
`predictions_dict ={}
training_dict = {'prob': logprob,
'raw_predictions': raw_pred,
}`
then I'm getting an error

 as predictions_dict does not have the 'prob' key anymore. I know I'm missing something so can anyone

[2018-02-08 06:43] ghost commented on #23
@what2help You forgot to rename predictions_dict['prob'] to training_dict['prob'] and predictions_dict['raw_predictions'] to training_dict['raw_predictions'].

[2018-02-08 07:25] jzhongaa commented on #23
@what2help Sorry I did not mention the details in the previous reply. The solution is that predictions_dict['prob'] should be defined the same as training_dict['prob'](as well as other items in the dict). You could refer to the below code for method crnn_fn in the model.py file.

[code]

[2018-02-08 08:59] what2help commented on #23
Hi @jzhongaa, thanks for your quick reply. Now inference is running but with 6 images in CSV file, it goes into an infinite loop on ubuntu.

[2018-02-08 10:05] jzhongaa commented on #23
@what2help
May I have a look at your code for prediction?

[2018-02-08 11:15] what2help commented on #23
@jzhongaa
It is same code what you provided above.

[2018-02-09 02:55] ghost commented on #23
@what2help
My prediction code. It works for me.

[code]

[2018-02-09 03:18] jzhongaa commented on #23
@what2help Below code works for me.

[code]

[2018-02-09 06:47] what2help commented on #23
Thanks, @jzhongaa and @junjie725.
Both the codes are working.

I've one more question related to prediction. When I'm trying to do prediction with an exported model, it takes only one image, not in batch. I tried changing that export file so that I can make that input placeholder to take images in batch. But I get some error in the model.py file.
Did you try running images in batch with the export

[2018-02-12 13:16] what2help opened #24 "Batch inference is not working with exported model"
Hi All,

Need help on how to inference images in batches.
I get this error when I try with current exported model

Tried changing preprocess_image_for_prediction() in src/data_handler.py but getting one or the other error.
Current code is
[code]

and I get bellow error with this code.

  File "/home/ubuntu/.local/lib/python3.5/site-packages/tensorflow/python/framework/tensor_util.py", line 460, in

[2018-02-13 08:44] WenmuZhou opened #25 "What is the role of fully-connection layer after rnn layers?"
I see a full connection layer after rnn, I do not know what is the role of this layer, after removing what will be the impact?

[2018-02-20 02:12] jzhongaa commented on #23
@what2help
Encountered same problem here with exported model. I used estimator for prediction with images in batch.

[2018-02-27 15:23] ghost opened #26 "OutOfRange Problem"
Hi,

mcq-2@mcq-2-linux:~/projects/tf-crnn$ python3 train.py -g 0 -ft /home/mcq-2/Documents/Dataset/DataSet_Text/Train.csv -fe /home/mcq-2/Documents/Dataset/DataSet_Text/Test.csv -o /home/mcq-2/Documents/Dataset/DataSet_Text/
/usr/local/lib/python3.5/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In futu

[2018-02-27 19:46] solivr commented on #24
Hi,
Batch inference is not supported yet with exported model. It's on my todo list, once I get back to this code. ;)

[2018-02-27 19:49] solivr commented on #26
Hi,
`Expect 2 fields but have 1 in record 0
[[Node: csv_reading_op = DecodeCSV[OUT_TYPE=[DT_STRING, DT_STRING], field_delim=";", na_value="", use_quote_delim=true, _device="/job:localhost/replica:0/task:0/device:CPU:0"](file_reading_op:1, csv_reading_op/record_defaults_0, csv_reading_op/record_defaults_0)]]` looks more like a CSV decoding error. Did you follow the steps in the `README.txt` concern

[2018-02-27 19:53] solivr commented on #25
Are you talking about [this](https://github.com/solivr/tf-crnn/blob/master/src/model.py#L186) line ? If you remove it, how do you get your classes (characters) ?

[2018-02-27 22:06] ghost commented on #26
each row of my csv file contains image path + label, like this way
/home/Documents/Set/1.jpg;66
the file contains : 108000 rows * 1 col

am I wrong in something ?

[2018-02-28 09:08] solivr commented on #26
`/home/Documents/Set/1.jpg;66` looks correct. Have you checked that there is no blank line (or any other special character) at the beginning or end of the file ?

[2018-02-28 09:36] engahmed1190 opened #27 "working with numbers only"
Hi @solivr

i would like to recognize numbers only , do i have to change in the parameters

[code]
is it mandatory to change  `digits_only` to `True `

[2018-02-28 09:45] ghost commented on #26
Thank you very much, i have solved the problem. There were comas at the beginning and at the end of each line in my csv file

[2018-02-28 09:52] solivr commented on #27
Hi @engahmed1190,
To recognise numbers only you should change the alphabet to `alphabet=Alphabet.DIGITS_ONLY `. In fact I checked the `digits_only` flag and it seems it is deprecated and not used anymore (I'll update this in the next commit), so you shouldn't need to set it.

[2018-02-28 09:54] #26 closed, assigned to nobody

[2018-02-28 10:55] engahmed1190 commented on #27
Thanks @solivr  !
i have found you used `tqdm ` but i can't found how much time is remaining  for the training to finish.

in the code
[code]
but the logging looks like that  , do we have here global step for the training

[code]

[2018-02-28 11:57] engahmed1190 commented on #27
also an error happens at the end
[code]

[2018-02-28 20:29] solivr commented on #27
Have you provided a (non-empty) evaluation csv file ?

[2018-02-28 20:33] engahmed1190 commented on #27
Yes , i have added some images and labels in the evaluation csv . Is it supposed to be Empty

[2018-02-28 23:15] solivr commented on #27
Can you try to set as `eval_csv_file`the same file you use for `train_csv_file` and tell me if you still get the same error  (so `-ft train_data.csv -fe train_data.csv` when you launch the training) ?

[2018-03-03 04:06] zdnet opened #28 "Frozen a model issues"
Hi,
thanks for your repo.
I want to export a frozen model after trained, but how to set the input & output node name?
i tried output_node_names = "code2str_conversion/predicted_words" but seems input "images" is not in graph:
ValueError: Attempted to map inputs that were not found in graph_def: [images:0]

Could you please advice how can i export a frozen model?

Thanks.

[2018-03-03 04:20] JcmeLs commented on #28
I have the same question. And I use `input_dict, output_dict = _signature_def_to_tensors (loaded_model.signature_def ['predictions'])` to get the name of the input and output nodes. It return input node name is `Placeholder: 0`. However, I did not find this input in the graph when checkpoint was restored

[2018-03-03 04:28] JcmeLs commented on #28
For output node,I see your code is selected `code2str_conversion / chars_conversion / cond / Merge: 0`. But when I use this as output, it can export PB, but when using this pb file to test, it will report `Table not initialized` error.

[2018-03-03 04:50] KienVu2368 opened #29 "'Params' object has no attribute 'get'"
After trained model. I run python export_model.py and got error
[code]
I run in Ubuntu 16 with cpu and tensorflow 1.3.
Please let me know if anyone has solved this.

[2018-03-03 05:32] JcmeLs commented on #29
you can change 'parameters = params.get('Params')' to 'parameters = params' on model.py when you export

[2018-03-03 07:24] KienVu2368 commented on #29
@JcmeLs  I got another error after edit model.py
[code]

Do you know how to fix it?

[2018-03-03 07:33] JcmeLs commented on #29
TensorFlow version=1.3？

[2018-03-03 07:40] JcmeLs commented on #29
'Params' object has no attribute 'get' ,this problem you can only change export.py, not need change model.py.
code:params_json = import_params_from_json(args.get('model_dir'))
    params = Params(**params_json)
    model_params = {
        'Params': params,
        }
    # Config
    est_config = tf.estimator.RunConfig()
    est_config.replace(keep_checkpoint_max=10,
                       save_ch

[2018-03-03 09:29] zdnet opened #30 "Change the input_shape=(, )"
Hi,
i want to change the parameters input_shape in train.py to size (45, 100), but have an exception, could you please help to check?

InvalidArgumentError (see above for traceback): Assign requires shapes of both tensors to match. lhs shape= [768,1024] rhs shape= [1280,1024]

Thanks

Traceback (most recent call last):
  File "train.py", line 97, in <module>
    image_summaries=True))
  File "E:\A

[2018-03-03 09:42] KienVu2368 commented on #29
@JcmeLs  correct me if Im wrong.
I edited file export_model.py from

[code]
to

[code]

and keep file model.py as original

But I got new error
[code]

I think because export_dir_base is None
I run in Ubuntu 16 with cpu and tensorflow 1.3.

[2018-03-03 10:38] JcmeLs commented on #29
@KienVu2368 yes,just change `estimator.export_savedmodel(args.get('export_dir'),
                                serving_input_receiver_fn=preprocess_image_for_prediction(min_width=10))
` to `estimator.export_savedmodel(args.get('output_dir'),
                                serving_input_receiver_fn=preprocess_image_for_prediction(min_width=10))
`

[2018-03-03 11:38] JcmeLs opened #31 "How to get word from chars without tensorflow"
hi，
when I get the raw_predictions,how  to get word from chars without tensorlfow.
Thx

[2018-03-04 02:59] KienVu2368 commented on #29
Thank you so much @JcmeLs :D

[2018-03-04 02:59] #29 closed, assigned to nobody

[2018-03-07 06:08] Saicat commented on #21
I am using IAM english handwritten line dataset. And I got "check failed: start <= limit (x vs. y)" error (your second problem) after 2 or 3 training epochs. I thought that might be a problem about image aspect ratio (width is not long enough) thus I resize the image to be longer (make width larger before feed into the model) but unfortunately the same error occurred even earlier (at the first tra

[2018-03-08 08:08] #31 closed, assigned to nobody

[2018-03-16 08:48] jzhongaa opened #32 "Get prediction results of all images with estimator"
I managed to use tf.estimator.predict to get the prediction results of a csv file. The size of the images in the csv is not the multiple of batch_size.However, I found that the number of prediction results will always be the multiple of batch_size, which indicates that last batch of images of which the size less than batch size will not be preceeded by tf.estimator.predict and no results will be g

[2018-03-16 13:46] solivr commented on #32
You can set `allow_smaller_final_batch=True` ([this line](https://github.com/solivr/tf-crnn/blob/master/src/data_handler.py#L36)).

[2018-03-20 07:21] jzhongaa commented on #32
Hi @solivr :
Thanks for your reply. I actually tried this before but got another error:

Traceback (most recent call last):
  File "C:\Users\lance\Miniconda3\envs\tf36\lib\site-packages\tensorflow\python\framework\tensor_util.py", line 468, in make_tensor_proto
    str_values = [compat.as_bytes(x) for x in proto_values]
  File "C:\Users\lance\Miniconda3\envs\tf36\lib\site-packages\tensorflow\pytho

[2018-04-03 16:17] dissendahl opened #33 "Usage of Lexicon"
First of all thank you for the code.
Does your implementation contain a lexicon functionality as described in the original paper?

[2018-04-04 07:01] solivr commented on #33
Hi,
No it doesn't, the current implementation is lexicon-free.
Could be an improvement though, but it's not in the priority line for the moment...

[2018-04-04 07:04] solivr commented on #32
I'm not sure on what is going on but it looks like your batch is empty. Did you check that there is no empty line at the end of your file ?

[2018-04-04 07:05] #25 closed, assigned to nobody

[2018-04-04 07:05] #27 closed, assigned to nobody

[2018-04-04 07:06] #24 closed, assigned to nobody

[2018-04-04 12:18] dissendahl commented on #33
@solivr : Thanks for the fast reply!
I will try to incorporate a lexicon feature once i get the core training running.

Another issue:
I wanna learn recognition of different special characters within latin languages char space. I tried to simply add those chars to the LETTERS_%-Strings in config.py, yet train.py throws unknown alphabet error when executed. Whats the right way to add other chars?

[2018-04-08 12:27] ivoryxiong commented on #30
you can try to remove model save checkpoint files, maybe cache problem

[2018-04-08 18:46] codecolony commented on #4
@solivr Any ideas on how to convert this ratio value to confidence value of the predicted word? Sorry if this is a naive question.

Edit: I had a look into the code and found that just reading `log_probability[:, 0]` should give me log probability. I want to take inverse log but can you tell me what should be base of the log?

[2018-04-09 02:18] jzhongaa commented on #32
@solivr
With the same dataset(meaning everthing else being same except allow_smaller_final_batch) and setting allow_smaller_final_batch=False, no error will be reported but setting allow_smaller_final_batch=True will result in above error.

Wonder if there could be other way to solve it. Tks!

[2018-04-11 04:12] ivoryxiong opened #34 "Load Saved Model to predict only one image once cause error"
below is my code
`
#!/usr/bin/env python

if __name__ == "__main__":
    with tf.Session(graph=tf.Graph()) as sess:
        print("loading model from model dir ...")
        model = PredictionModel("model0/export/1523419345/", sess)
        im = Image.open("oo-1.png").convert('L')
        im = numpy.array(im.getdata(),numpy.uint8).reshape(im.size[0], im.size[1], 1)
        print(im.shape)

[2018-04-11 04:22] ivoryxiong commented on #34
duplicated to https://github.com/solivr/tf-crnn/issues/4

[2018-04-11 04:22] #34 closed, assigned to nobody

[2018-04-11 07:47] solivr commented on #4
@codecolony I hadn't had any better idea at the time I implemented it, but I remember going through [this issue](https://github.com/tensorflow/tensorflow/issues/6034) which seems to show some inconsistancies...
I would have to check it before giving you an answer, because it's not clear from the documentation and the code is not helping either...

[2018-04-13 02:22] WenmuZhou commented on #17
when I predict image using GPU, I found that the gpu utilization is always been 0

[2018-04-16 16:13] solivr commented on #33
Which character did you add ? If your special characters have a multibyte encoding in `utf-8` format, you will have an error (see https://github.com/solivr/tf-crnn/issues/8#issuecomment-343419029 and [here](https://github.com/tensorflow/tensorflow/issues/11399)).
Otherwise the easiest way to use your special characters is to add them to the `Alphabet` [class](https://github.com/solivr/tf-crnn/blob

[2018-04-21 22:45] HuangHuijuan opened #35 "Error while attempting to train a new model"
I met a problem when I attempted to train a new model. I have no idea where the error comes from. Here is the error message. Thanks!

Traceback (most recent call last):
  File "train.py", line 97, in <module>
    image_summaries=True))
  File "/usr/lib/python3.6/site-packages/tensorflow/python/estimator/estimator.py", line 302, in train
    loss = self._train_model(input_fn, hooks, saving_listener

[2018-04-22 00:45] #35 closed, assigned to nobody

[2018-04-26 09:03] cipri-tom commented on #17
you'd need to batch images for better GPU utilisation

[2018-05-18 16:25] solivr commented on #30
I found the same error when changing the Alphabet during a training. This happens when you restore a model from an existing checkpoint, but the Alphabet has changed in the meantime. As @ivoryxiong suggests, remove the export directory and start new training.

[2018-05-18 16:25] #30 closed, assigned to nobody

[2018-05-25 10:07] solivr commented on #21
Concerning `check failed: start <= limit (x vs. y)`
Sorry for the late reply, this was not easy to replicate and find... I think the problem comes from [`random_rotation`](https://github.com/solivr/tf-crnn/blob/master/src/data_handler.py#L74) function. I added a condition checking that the tensor is sliced properly and I don't get the error anymore. I'll update the code soon but for the moment if

[2018-06-07 03:43] ecetang opened #36 "How can I use this model to train on other language such as Chinese?"

[2018-06-07 08:13] solivr commented on #36
Hi,
Please have a look at these previous issues : #3 #8.

[2018-06-07 08:13] #36 closed, assigned to nobody

[2018-06-15 07:19] IMYR666 opened #38 "about mkdir for ".../export/...""
Hi @solivr :
it happens an error "can not make directory './output/export\'sequencenumber'\'",then I interrupted this code and restarted it , it was running good,but couldn't save the model to ".../export/..." directory.What might be the problem? thanks.
I run code at windows10, using CPU not GPU.

[2018-06-15 09:01] solivr commented on #38
Hi @IMYR666,
I had a similar issue on another project, it seems that when working on Windows, the `export` directory is not created. I updated the code (01f43a43703a2dac5ad6c7876c828ee966364e39), can you try again and let me know if it works now ?

[2018-06-19 05:38] IMYR666 commented on #38
It works! thanks!

[2018-06-19 05:58] IMYR666 commented on #38
And I have another question: what is the function of "my_eval_data.csv"? just like validated data?

[2018-06-19 07:15] solivr commented on #38
Yes, it is the csv file where you have listed your validation data.

[2018-06-19 16:28] #38 closed, assigned to nobody

[2018-06-28 14:48] PonteIneptique opened #39 "Small script for converting ocropus data"
Hi @solivr !
The idea of evaluating your tool is really interesting to us. We have worked with Ocropus with medieval litterary manuscripts ( https://graal.hypotheses.org/786 ) and I am really looking forward comparing both results with handscript that are close to typescript.
If you are in anyway interested, I'll post the small script I put together for converting our data for your input format (

[2018-06-28 16:38] solivr commented on #39
Hi @PonteIneptique
Thanks for taking this initiative and sharing it! I am certainly interested in the statistics, so please keep me updated. :)

[2018-06-29 11:24] PonteIneptique opened #40 "How should I build a character dictionary config file"
I am gonna run the first test on the data I have but there is no documentation about how I should recreate a similar file as https://github.com/solivr/tf-crnn/blob/master/tf_crnn/data/lookup_letters_digits_symbols.json and of course I am already running into an error :) :

[code]

Any hint how it should be built would be greatly appreciated. I'll probably add it to my ocropus script :)

[2018-06-29 13:07] PonteIneptique commented on #40
It took me a bit of time but I did it.

1. Build a file where characters are separated by newline (one character = one line)
2. Run, in python :

[code]

[2018-06-29 13:07] #40 closed, assigned to nobody

[2018-06-29 14:58] PonteIneptique commented on #39
Hey :)
Here are my first results, without touching anything of the original configuration though.

[code]

The `loss=inf` seems weird to me. I sometime run into this log

[code]
which apparently is tied to input : https://stackoverflow.com/questions/45130184/ctc-loss-error-no-valid-path-found

For your information, my training data look like

and perform around 95% with Ocropus 1 ( I don't remembe

[2018-06-29 17:23] solivr commented on #39
Great that you made it work!
Concerning the infinite loss it is indeed due to the `tf.nn.ctc_loss` in [this line](https://github.com/solivr/tf-crnn/blob/master/tf_crnn/model.py#L274).
Concerning the 95% performance, does this means that the CER is of 5% or that the WER is of 5% ?
The printed info you get for the evaluation corresponds to `CER` and `1-WER` (accuracy is not a very explicit name, I m

[2018-06-29 18:13] PonteIneptique commented on #39
Ocropy is not evaluating WER unfortunately ;)

[2018-06-29 18:20] PonteIneptique commented on #39
One of the things that interest me in this algorithm, compared to Ocropus, is speed of training + *elasticity* on unseen data. I am gonna evaluate this later though :)

[2018-06-29 19:21] SeguinBe commented on #39
BTW I notice you seem to work on binarized data? You probably would get better result by using directly the images without binarization.

[2018-06-29 19:33] PonteIneptique commented on #39
Yeah. Unfortunately, our training data were definitely done with these data so... Might be complicated to go back with the original ones

[2018-06-29 19:36] PonteIneptique commented on #39
Maybe you know of a script which would allow me to match easily my binarized data with original ones ?

[2018-06-29 19:37] solivr commented on #39
Would you mind sharing some numbers, like size of training set eval/test set and time of training ? I would be curious to know.

[2018-06-29 19:38] SeguinBe commented on #39
I don't know ocropy format at all, but if you have a file where there are the bounding boxes coordinates of the line extraction, you could go back to the original document to extract the unaltered lines.

[2018-06-29 19:40] PonteIneptique commented on #39
Unfortunately for some we lost this information cleaning some lines, hence the question :)
I have the numbers on my Linux partition. It's 21.40 here, I'll get back to you :)

[2018-06-30 09:39] PonteIneptique commented on #39
I am currently try to match back the images with OpenCV and get non-binarized, grayscale data.

Here are the informations :
- 2,961 lines referenced in output/test/groundtruth.csv
- 6,916 lines referenced in output/train/groundtruth.csv

[2018-07-02 08:00] PonteIneptique commented on #39
So, I have tried to rematch my binarized training data to my current binarized data but I have not enough confidence in the result (My try-outs are available here : https://github.com/PonteIneptique/template_matching/blob/master/Ocropus%20Rematch%20.ipynb ) : the process behind these training data spanned over 3 years, and the original data are in different shape than today ones, and I am pretty s

[2018-07-04 13:23] cipri-tom commented on #32
@jzhongaa are you still seeing this error with the latest version of the code ? I also had it with previous versions due to the batch-part of the `shape` being dynamic when `allow_smaller_final_batch=True`.
I think it should be fixed now.

If not, you can change `shape[0]` with `-1` in [this line]: https://github.com/solivr/tf-crnn/blob/e8a8db1e1f64a64770ed0f5a877d99e26fd9bf55/tf_crnn/model.py#L15

[2018-07-05 21:02] AlanStark commented on #35
Have you managed to solve this problem? I also have this kind of issue.

[2018-07-06 03:55] HunterHantao commented on #1
Hi Solivr,

I am trying to train the network using synthetic word dataset. I also find the warning "No valid  path found". Is this warning normal? Or any recommendation. A screenshot is attached.
![image](https://user-images.githubusercontent.com/8010994/42359274-763a918a-8113-11e8-9b35-58bcafdd2aa6.png)

But it seems to converge.

Thank you.

[2018-07-06 06:48] HunterHantao commented on #1
It should be the problem "the length of the labels must be shorter than the input lengths".  Any suggestions are appreciated.

[2018-07-07 07:55] WenmuZhou commented on #8
I recently found that in tensorflow 1.8, the `string_split` function supports utf8 characters.
for example:
[code]
result is
![image](https://user-images.githubusercontent.com/12406017/42408363-1c682672-81fe-11e8-8b6b-ad5742fab3b4.png)

[2018-07-09 04:48] WenmuZhou opened #43 "when I use tf 1.8 to train the code,the gpu util is 0 always"
![image](https://user-images.githubusercontent.com/12406017/42431154-6c174a62-8376-11e8-8864-f2d07ead706a.png)

[2018-07-09 12:08] solivr commented on #43
I changed [this line](https://github.com/solivr/tf-crnn/blob/master/train.py#L26) so that the device name is composed programmatically. Can you give it a new try ?

[2018-07-09 12:56] WenmuZhou commented on #43
![image](https://user-images.githubusercontent.com/12406017/42451645-70a0d1cc-83ba-11e8-92fd-bdb60498c17e.png)
There will be fluctuations at the beginning, and it will be 0 after that and it will stop here.
![image](https://user-images.githubusercontent.com/12406017/42451714-a7ce2cc6-83ba-11e8-8b79-daf55dd92ef2.png)

[2018-07-11 04:27] HunterHantao commented on #35
I also have this problem. How do you solve it?

[2018-07-20 11:58] the-butterfly opened #44 "Why do the new codes run so slowly?"
I have trained the model on a data set containing 200, 000 images using codes of 0.5 version.
But the training speed is really slow ...
It have 0.07 global_step/s and elapsed 4 h to achieve 1k steps.
Meanwhile, the old version (0.3.0) codes,  running on the same data set, have 1.6 global_step/s and only consumed 30 min achieving 1k steps.
The hyper-parameters are the same except batch size (128 fo

[2018-07-20 12:19] the-butterfly commented on #44
In Addition, I use  **Unicode** in experiment.
And in another experiment on `IIIT5k` (different machine), it seems the new version has 2.x speed in contrast to the old one.

[2018-07-25 16:20] solivr commented on #43
Does the usage stay at zero once the training starts ?
Your GPU should start being used after the buffer (Dataset) is filled, i.e after the log message:
[code]
Otherwise, I am not able to reproduce your error...

[2018-07-25 16:21] #21 closed, assigned to nobody

[2018-08-02 15:24] solivr commented on #44
I don't know why you have slower training, but if you want quicker training, you can try to change tf.nn.ctc_loss to [Baidu's ctc implementation](https://github.com/baidu-research/warp-ctc) which will allow you to use your GPU (instead of CPU usage for tensorflow's implementation)

[2018-08-03 02:17] the-butterfly commented on #44
Anyway, thanks for your reply. Maybe I should have a try.

[2018-08-03 08:03] #43 closed, assigned to nobody

[2018-08-03 08:03] #44 closed, assigned to nobody

[2018-08-08 06:53] msobhan69 opened #45 "should space character take label?"
In ASR task, silence is labeled for CTC loss. Isn't need for OCR?

[2018-08-08 12:40] solivr commented on #45
Yes it should, any symbol you want to transcribe should take a label.

[2018-08-09 11:17] #45 closed, assigned to nobody

[2018-08-10 14:19] jmokoistinen commented on #35
INFO:tensorflow:Using config: {'_model_dir': './model2/', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.C

[2018-08-14 09:51] jmokoistinen opened #46 "problem with training: less leaves in the beam search than requested"
python train.py with config3.json
...
INFO:tensorflow:Saving checkpoints for 1101 into ./model3/model.ckpt.
INFO - tensorflow - Saving checkpoints for 1101 into ./model3/model.ckpt.
INFO:tensorflow:global_step/sec: 1.98484
INFO - tensorflow - global_step/sec: 1.98484
INFO:tensorflow:loss = 0.43665585, step = 1100 (50.381 sec)
INFO - tensorflow - loss = 0.43665585, step = 1100 (50.381 sec)
* Loss :

[2018-08-15 08:09] solivr commented on #46
Hi,
This is an error due to the CTC decoder. There is an issue (#12) on this, can you check you data according to the suggested solution ?

[2018-08-15 12:43] jmokoistinen commented on #46
Yes need to scale the images as proposed for example max 40 characters in a word image would need width 40x4 => 160: This also removes the ctc loss calculation (no valid path) problem.

[2018-08-15 12:43] #46 closed, assigned to nobody

[2018-08-17 09:15] ps48 commented on #1
@novioleo Can you please help me understand how using tf.segment_max solved the issue of "No valid path found"?

[2018-08-29 14:47] solivr commented on #44
Hi,
The updated `input_fn` should be much faster now, you can pull the new version. I made some changes according to the suggestions in [this issue](https://github.com/tensorflow/tensorflow/issues/18784).

[2018-08-29 14:53] the-butterfly commented on #44
OK, I'll have a try. thx.

[2018-09-13 10:34] huytq97 opened #47 "how to print accuracy after print Loss?"
I want print accuracy after 1 epoch. How to print accuracy after print Loss?
Tks

[2018-11-09 08:41] Usmankhujaev opened #48 "How to test and print the prediction results of my own trained model?"
I trained my own model using my own images with their ground truth values and I saw evaluation accuracy at the end of training but I couldn't test different image to see the predicted values for my trained model

[2019-05-31 07:01] zhangxu5515 commented on #48
Hi, @Usmankhujaev. Uh.... Did you find way to print the prediction results? I can only get some tensors such as probs:... words:.... but not predicted words.

[2019-06-06 20:41] matheusgmaia opened #49 "Serving tf_serving"
I had several problems at serving one trainned model with tensorflow_serving docker, I run into this error:
`
"Generic conv implementation does not support grouped convolutions for now.\\n\\t [[{{node deep_cnn/layer1/conv}}]]"`

Do you have any tips about how to de-group this "grouped convolution" at deep_cnn or how to serve the model in a REST API?

[2019-06-08 03:52] jylei66 opened #50 "ctc_loss_calculator.cc no valid path found"
When I train my own net, I got the following error:
2019-06-08 11:33:48.746469: W tensorflow/core/util/ctc/ctc_loss_calculator.cc:144] No valid path found.
Is it because that the label should be shorter than input length referring to below?
https://stackoverflow.com/questions/45130184/ctc-loss-error-no-valid-path-found
If so, how can I modify train.py to solve this problem?
Thanks in advance~

[2019-07-04 11:09] SreenijaK opened #51 "sacred error"
ERROR - CRNN_experiment - Failed after 0:00:00!
Traceback (most recent calls WITHOUT Sacred internals):
  File "train.py", line 111, in run
    config=est_config
  File "/home/ramu_yarru/venv/lib/python3.5/site-packages/tensorflow_estimator/python/estimator/estimator.py", line 210, in __init__
    self._params = copy.deepcopy(params or {})
  File "/home/ramu_yarru/venv/lib/python3.5/copy.py", line

[2019-07-08 10:38] m0ckingbird23 commented on #51
i have the same error, can anyone help us resolve this issue ??

[2019-07-10 08:17] XinyuDu commented on #51
me too.

[2019-07-29 06:12] XinyuDu commented on #49
same error

[2019-07-31 07:53] XinyuDu commented on #49
Should convert the image to gray befor input the model.
`image = cv2.cvtColor(image, cv2.COLOR_RGB2GRAY)
image = np.expand_dims(image, -1)`

[2019-08-05 10:24] kulina opened #52 "One question of scared"
When I ran this program，I got this : “sacred.utils.SacredError: The configuration is read-only in a captured function!". So how can I solve this problem and run the program correctly?

[2019-08-05 18:13] JarnoRFB commented on #52
At the top of your script, you should turn of the read only config containers.

[code]

Read only configs are a safeguard against configurations being modified after the configuration was finalized. Alternatively to turning it of you can also make sure, that values inside the config dict get modified.
You are welcome to ask sacred related questions directly at https://github.com/IDSIA/sacred/issue

[2019-08-08 01:57] Once88 opened #53 "estimator.evaluate is much slower than estimator.train"
I find estimator.evaluate is much slower than estimator.train in train.py , and when estimator.evaluate is running, the gpu usage is always 0.

[2019-08-08 01:58] Once88 commented on #53
my tensorflow version is 1.12

[2019-08-22 01:51] Once88 commented on #51
Maybe you can try sacred version 0.7.4

[2019-09-03 08:00] vinceyzw opened #54 "CTCLoss ERROR!"
InvalidArgumentError (see above for traceback): All labels must be nonnegative integers, batch: 0 labels: -1
	 [[{{node CTCLoss}} = CTCLoss[ctc_merge_repeated=true, ignore_longer_outputs_than_inputs=true, preprocess_collapse_repeated=false, _device="/job:localhost/replica:0/task:0/device:CPU:0"](deep_bidirectional_lstm/transpose_time_major, str2code_conversion/StringSplit, str2code_conversion/hash

[2019-09-03 09:51] vinceyzw commented on #54
已解决。
table_str2int = tf.contrib.lookup.HashTable(
                tf.contrib.lookup.KeyValueTensorInitializer(keys_alphabet_units, values_alphabet_codes), -1)
把最后的-1改成其他正值。

[2019-10-21 08:09] vikram-ai commented on #24
Hi solivr,
Are you planning to implement batch mode?. Currently, PredictionModelBatch is not working with filenames too.

[2019-10-22 10:43] amdslgl opened #55 "can not download model"
hi,sir.I can not download the model as you give address,could you give it by another way,such as baiduyunpan,please .

[2019-10-23 19:20] BryanOrabutt opened #56 "InavlidArgumentError when running prediction.py (tf2 branch)"
I have trained a model and was wanting to do some prediction on a set of images. When I run the predictor.py program I get the following output:

[code]

My .csv file that was specified to the input to predict.py contains the following

[code]

Any and all help is appreciated.

[2019-10-24 17:28] BryanOrabutt commented on #56
Solved it. Did not realize the csv file format for prediction.py was different. In hindsight it makes sense. The `;<string chars>` is not needed, just terminate each file path with a new line.

[2019-10-24 17:28] #56 closed, assigned to nobody

[2019-11-08 09:49] vikram-ai opened #57 "Incorrect result in batch implementation"
Hi,
I have implemented batch serving mode in existing library. I have implemented serving input function as following.
[code]
I have written a generator that preprocesses steps(grayscale, resize, padding) and feeds to tensor. I am getting different output than single_input servings. Please help:)

[2019-11-11 06:49] vikram-ai commented on #57
Hi,
I am able to solve the issue. I will be creating a merge request shortly for batch inference.

[2019-11-11 06:49] #57 closed, assigned to nobody

[2019-11-15 14:37] solivr commented on #55
Hello, there is no model to download, so it's normal you are not able to.

[2019-11-15 14:37] #55 closed, assigned to nobody

[2019-11-15 14:38] #54 closed, assigned to nobody

[2019-11-15 14:39] solivr commented on #53
The updated version does not depend on tf.estimator anymore, it may solve your problem.

[2019-11-15 14:39] #53 closed, assigned to nobody

[2019-11-15 14:40] #52 closed, assigned to nobody

[2019-11-15 14:41] solivr commented on #51
See this answer : https://github.com/solivr/tf-crnn/issues/52#issuecomment-518340986

[2019-11-15 14:41] #51 closed, assigned to nobody

[2019-11-15 14:41] #49 closed, assigned to nobody

[2019-11-15 14:41] #47 closed, assigned to nobody

[2019-11-15 14:42] #33 closed, assigned to nobody

[2019-11-15 14:44] #39 closed, assigned to nobody

[2019-11-15 14:46] solivr commented on #48
Hello, the updated version of the code has a `prediction.py` file which outputs the recognized text in a text file, you can try it.

[2019-11-15 14:46] #48 closed, assigned to nobody

[2019-11-15 14:46] #32 closed, assigned to nobody

[2019-11-15 14:48] solivr commented on #28
Hello, the updated version of the code uses tf.keras, so this should be easier to deal with.

[2019-11-15 14:48] #28 closed, assigned to nobody

[2019-11-15 14:50] solivr commented on #50
Yes this is the reason.
The updated version checks for these possible errors before starting the training and ignores the offending samples.

[2019-11-15 14:50] #50 closed, assigned to nobody

[2020-03-17 22:59] BryanOrabutt opened #58 "Error when trying to run training.py with mnist dataset"
I am getting the following error when I try to train a model on the minst dataset.

[code]
It seems to be failing to parse my csv files but I believe my file format is correct. My training data csv file is in this format (truncated here for obvious reasons):

[code]
My test dataset csv file is in the same format. And finally my config.json file is shown below:
[code]

I had this working a few mont

[2020-04-06 08:09] IndraAdhikary opened #59 "taputapu module note found"
it says that the taputapu module is not found when i try to run the train.py

[2020-04-28 17:40] BryanOrabutt commented on #58
Resolved. The label strings were being detected as integers. Typecasting to string directly fixed the problem.

[2020-04-28 17:40] #58 closed, assigned to nobody

[2020-07-14 03:52] xinmengyuan0103 opened #60 "data错误"
tensorflow.python.framework.errors_impl.InvalidArgumentError: Field 2 in record is not a valid int32: ./data/images/20456343_4045240981.jpg
参考链接：https://shimo.im/docs/oDFzLoOXmYsAypwR/read
请问这个问题如何解决？THANK YOU！

[2021-05-07 11:04] joaopauloucf opened #61 "symbolic Keras input"
Having issues running training.py:

Cannot convert a symbolic Keras input/output to a numpy array. This error may indicate that you're trying to pass a symbolic value to a NumPy call, which is not supported. Or, you may be trying to pass Keras symbolic inputs/outputs to a TF API that does not register dispatching, preventing Keras from automatically converting the API call to a lambda layer in the

[2021-08-20 13:09] DLPerf opened #62 "Performance issues in tf_crnn/data_handler.py(P2)"
Hello,I found a performance issue in the definition of `dataset_generator` ,
tf_crnn/data_handler.py,
[dataset = dataset.map(map_fn)](https://github.com/solivr/tf-crnn/blob/ade5f72c43c912a215f2d2d2126d50635bead3f8/tf_crnn/data_handler.py#L313) was called without **num_parallel_calls**.
I think it will increase the efficiency of your program if you add this.

Here is [the documemtation of tensorflo

[2021-08-29 12:06] DLPerf opened #63 "Performance issues in /tf_crnn (by P3)"
Hello! I've found a performance issue in data_handler.py: `batch()` should be called before `map()`, which could make your program more efficient. Here is [the tensorflow document](https://tensorflow.google.cn/guide/data_performance?hl=zh_cn#vectorized_mapping) to support it.

Detailed description is listed below:

- `dataset.batch(batch_size)`[(line 431)](https://github.com/solivr/tf-crnn/blob/ad

[2021-11-04 09:25] DLPerf commented on #63
Hello, I'm looking forward to your reply~